/* Brand Colors ------------------------------------------------*/
$color-dark-primary: #b9bfca;
$color-primary: #dfe5f1;
$color-light-primary: #f6f8fc;
$color-text: #212121;
$color-accent: #003399;
$color-white: #ffffff;
$color-secondary: #484d58;
$color-divider: #6088db;
/* Brand Font Size ------------------------------------------------*/
$fs-link: 22px;
$fs-title: 34px;
$fs-secondary-title: 28px;
$fs-text: 18px;



